<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Update province</h1>
    <h2 th:if="${message} != null" th:text="${message}"></h2>
    <form method="post" th:object="${province}" enctype="multipart/form-data">
        <table class="table table-striped">
            <tr>
                <td>Name</td>
                <td><label><input type="text" th:field="*{name}"></label></td>
            </tr>
            <tr>
                <th>Popular</th>
                <td><label><input type="text" th:field="*{popular}"></label></td>
            </tr>
            <tr>
                <th>Area</th>
                <td><label><input type="text" th:field="*{area}"></label></td>
            </tr>
              <tr>
                <th>GDP</th>
                <td><label><input type="text" th:field="*{gdp}"></label></td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                    <label><input type="file" th:field="*{image}"></label>
                    <img width="200px" height="200px" th:src="@{'../image/' + ${province.getImageUrl()}}" alt=""/>
                </td>
            </tr>
            <tr>
                <th>Country</th>
                <td>
                    <label>
                        <select th:field="*{country}">
                            <option th:each="s : ${countries}" th:value="${s.getId()}"
                            th:text="${s.getName()}"></option>

                        </select>
                    </label>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button class="btn btn-warning" type="submit"><span>Update</span></button>
                </td>
            </tr>
        </table>
    </form>
    <button class="btn btn-primary"><a href="/province">Back to home</a></button>
</div>
</body>
</html>